body {
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.box {
    background: white;
    padding: 25px;
    width: 360px;
    border-radius: 15px;
    text-align: center;
}

input {
    width: 90%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 95%;
    padding: 12px;
    margin-top: 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.video {
    margin-top: 15px;
}

iframe {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
